[submodule "Plugins/UROSBridge"]
	path = Plugins/UROSBridge
	url = https://github.com/NaivPhys4RP/UROSBridge.git
[submodule "Plugins/URoboViz"]
	path = Plugins/URoboViz
	url = https://github.com/NaivPhys4RP/URoboViz.git
[submodule "Plugins/URoboVision"]
	path = Plugins/URoboVision
	url = https://github.com/NaivPhys4RP/URoboVision.git
[submodule "Plugins/UUtils"]
	path = Plugins/UUtils
	url = https://github.com/NaivPhys4RP/UUtils.git
[submodule "Plugins/unreal_vision_bridge"]
	path = Plugins/unreal_vision_bridge
	url = https://github.com/NaivPhys4RP/unreal_vision_bridge.git
